<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Thin.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSAllowsArbitraryLoads</key>
	<string></string>
	<key>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;&lt;/string&gt;
&lt;/plist&gt;
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;&lt;/string&gt;
&lt;/plist&gt;
NSAllowsArbitraryLoads</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Required for viewing 3D models</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>co.tryterra.data.post.request</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
